body {
	background-color: #00CCFF;
}
h1 {
	text-align:center;
	margin:0;
}
section {
	width:100%;
}
h2 {
	margin:0;
}
p {
	margin-left:5%;
}
table {
	margin:auto;
	border:1;
}
th, td {
	text-align:center;
}
.container {
	width:80%;
	margin:auto;
}
.subtitle {
	margin:0;
	text-align:center;
}