body {
	background-image:url(../images/bkgrd.jpg);
}
h1 {
	font:2.4em Belleza;
	margin-bottom:0px;
}
h2 {
	font:1.6em Cinzel;
	border-bottom:1px solid black;
}
h3 {
	font:1.3em Cinzel;
	font-weight:bold;
}
footer {
	text-align:center;
}
p {
	padding:0% 2%;
}
table {
	border-collapse:separate;
}
th, td {
	padding:0px 5px;
}
dt {
	font-weight:bold;
	padding:2%;
}
form {
	padding:0% 2%;
}
div {
	margin: auto;
}
ul {
	padding:0px;
	margin-top:5%;
	background-image: -webkit-linear-gradient(top,#56835e,#1b4d30);
	background-color:green;
	position:relative;
	z-index:1;
	border-radius:10px;
}
li {
	margin:0px;
	padding:0px;
	width:33.3333333333333%;
	display:block;
	height:40px;
	line-height:40px;
	float:left;
	list-style-type:none;
	text-shadow:2px 2px;
	text-align:center;
	}
li a {
	display:block;
	text-decoration: none;
	color:white;
}
img {
	width:100%;
}
th, td {
	text-align:left;
}
tr:nth-child(2n) {
	background-color:#f7ffbf;
}
.logo {
	width:100%;
}
.mei {
	margin: 9% 0%;
	border: 1px solid black;
}
.lnav {
	border-radius:10px 0px 0px 10px;
}
.rnav {
	border-radius:0px 10px 10px 0px;
}
li a:hover {
	background-image: -webkit-linear-gradient(top,#2b422f,#0e2718);
}
li a.lend:hover {
	background-image: -webkit-linear-gradient(top,#2b422f,#0e2718);
	border-radius:10px 0px 0px 10px;
}
li a.rend:hover {
	background-image: -webkit-linear-gradient(top,#2b422f,#0e2718);
	border-radius:0px 10px 10px 0px;
}
.link {
	padding:0% 2%;
	color:red;
}
